.container{
    height: 600px;
    background-color: #fff;
    opacity: 0.5;
    box-shadow: 0 0 5px 1px #666;
}

.right{
    position: relative;
    float: right;
    width: 750px;
    height: 600px;
    right: 0;
}

.right .header{
    height: 50px;
}

.right .header ul{
    position: fixed;
    height: 50px;
}

.right .header ul li{
    float:left;
    line-height: 50px;
}

.right .header ul li{
    width: 150px;
    text-align: center;
}

.user{
    width: 750px;
    height: 500px;
    overflow-y:scroll;
}
::-webkit-scrollbar{display: none;}

.user table{
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}

.right .user tr{
    position: relative;
    height: 50px;
    width: 750px;
}

.right .user td{
    position: relative;
    border-style: none;
    width: 150px;
    list-style: none;
    text-align: center;
}

.user .button {
    position: relative;
}

.user tr:hover{
    border: 1px solid #ccc;
    opacity: 0.5;
    box-shadow: 0 0 0 1px #666;
}

.right .user img{
    position: absolute;
    top:2px;
    width: 46px;
    height: 46px;
}

.right .user button{
    width: 100px;
    height: 30px;
    color: #fff;
    background: linear-gradient(
        to right,
        rgb(93,172,250) 0%,
        rgb(95,139,250) 40%,
        rgb(97,96,251) 70%,
        rgb(154,140,252) 100%
    );
    border-radius: 5px;
    border: 0;
}

.right .end {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.end li{
    float:left;
    width: 150px;
    line-height: 50px;
    text-align: center;
}