<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel='stylesheet' href="{{ url_for('static',filename='CSS/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="shell">
        <div id = "header" class = "header">
            <div class="logo">
                <img src ="image/logo.png" alt="icon">
            </div>
            <div class="nav" id = "nav">
                <a class = "active" href="home.html">HOME</a>
                <a href="news.html">NEWS</a>
                <a href="about.html">ABOUT</a>
            </div> 
        </div>
        <div id="container" class="container">
            <div class="appoint-response out-response">
                <div class="appoint-response in-response">
                    <div class="calendar-ul">
                        <div class='calendar' id='dycalendar'></div>
                    </div>
                    <div class="appoint-ul" >
                        <div class="appoint-header">
                            <ul>
                                <li>名字</li>
                                <li>学号</li>
                                <li>预约种类</li>
                                <li>预约时间</li>
                                <li>签到</li>
                            </ul>
                        </div>
                        <div class="appoint-user" id = "dyappoint-user">
                            <!-- <ul class="user" id = "1" onclick = "myfunction()" >
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><button type="button">确定</button></li>
                                <li>预约座位数</li>
                            </ul> -->
                        </div>
                        <div class="end" id ="appoint-all">
                            <!-- <ul>
                                <li>预约总人数</li>
                                <li>剩余座位</li>
                                <li>签到率</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app">
        <div class = "code">
            <img src="./image/icon.jpg">
            <div class="import">扫描关注微信预约小程序</div>
        </div>
        <div class="footer">
            <div class="footer-title">扬帆信息 驰骋海洋</div>
            <img src = "image/footlogo.png">
        </div>
        <div class="contact">
            <div class="contact-icon"></div>
            <div class="contact-inf"></div>
        </div>
    </div>
</body>
<script type='text/javascript' src="{{ url_for('static',filename='JS/header.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static',filename='JS/home.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static',filename='JS/script.js') }}"></script>
</html>
