<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static',filename='CSS/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/news.css') }}">
    <title>News</title>
</head>
<body>
    <div class = "header">
        <div class="logo">
            <img src = "image/logo.png" alt = "icon">
        </div>
        <div class="nav">
            <a href="home.html">HOME</a>
            <a class = "active" href="news.html">NEWS</a>
            <a href="about.html">ABOUT</a>
        </div>
    </div>
    <div class="container">
        <div class="shell">
            <ul class="images">
                <li class="img"></li>
                <li class="img"></li>
                <li class="img"></li>
                <li class="img"></li>
                <li class="img"></li>
                <li class="img"></li>
                <li class="img"></li>
            </ul>
            <ul class="dots">
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
            <div class = "button">
                <div class="button_prev btn-prev-next"></div>
                <div class="button_next btn-prev-next"></div>
            </div>
            </div>
            <div class="news">
                <ul>
                    <li class="new">
                        <div class = "title"><a>海洋物理高端仪器装备教育部工程研究中心建设任务书论证会召开</a>
                        </div>
                        <div class = "time">2023-04-23</div>
                    </li>
                    <li class="new">
                        <div class = "title"><a>海洋物理高端仪器装备教育部工程研究中心建设任务书论证会召开</a>
                        </div>
                        <div class = "time">2023-04-23</div>
                    </li>
                    <li class="new">
                        <div class = "title"><a>海洋物理高端仪器装备教育部工程研究中心建设任务书论证会召开</a>
                        </div>
                        <div class = "time">2023-04-23</div>
                    </li>
                    <li class="new">
                        <div class = "title"><a>海洋物理高端仪器装备教育部工程研究中心建设任务书论证会召开</a>
                        </div>
                        <div class = "time">2023-04-23</div>
                    </li>
                    <li class="new">
                        <div class = "title"><a>海洋物理高端仪器装备教育部工程研究中心建设任务书论证会召开</a>
                        </div>
                        <div class = "time">2023-04-23</div>
                    </li>
                    <li class="new">
                        <div class = "title"><a>海洋物理高端仪器装备教育部工程研究中心建设任务书论证会召开</a>
                        </div>
                        <div class = "time">2023-04-23</div>
                    </li>
                    <li class="new">
                        <div class = "title"><a>海洋物理高端仪器装备教育部工程研究中心建设任务书论证会召开</a>
                        </div>
                        <div class = "time">2023-04-23</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type='text/javascript' src="{{ url_for('static',filename='JS/header.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static',filename='JS/news.js') }}"></script>
</html>
